<%- include('partials/_navbarAcclaim') %>

<section class="section-sellers-art">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="sellers-heading-secondary">Favorite Results</h2>
  </div>
  <section class="section-all">
    <% for(let card of cards) { %>
    <article class="ai-card" id="favorite-card-<%= card.id %>">
      <div class="ai-card__img-box">
        <img
          src="<%= card.photo %>"
          class="ai-card__img"
          alt="<%= card.name%>"
        />
      </div>
      <div class="ai-card__desc-box">
        <h3 class="ai-card__h3"><%= card.name %></h3>
        <span class="artist"><%= card.user_name %></span>
      </div>
      <div class="ai-card__sizes">
        <h4 class="ai-card-avail">availible in</h4>
        <div class="poster">
          <div class="post-price"></div>
        </div>
        <div
          class="ai-card__favorite"
          id="heart-<%= card.id%>"
          style="color: red"
        >
          <i
            class="fa-solid fa-heart favArt favArt_<%= card.id%>"
            data-favUserId="<%= userId%> "
            data-cardId="<%= card.id%> "
          ></i>
        </div>
      </div>
      <button class="ai-card-btn btn btn--white">
        <a href="/contact/<%= card.email%>">Contact seller</a>
      </button>
    </article>

    <% } %>
  </section>
</section>
